:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color:#EE4D2D;
    --boder-color: #dbdbdb;
    --start-gold-color:#ffce3e;
    --header-height:120px;
    --navbar-height:34px;
    --header-with-search-heigth:calc(var(--header-height) - var(--navbar-height));
    --header-short-bar-height: 48px;




}
*{
    box-sizing: inherit;
}

html 
{
    font-size: 62.5% ;
    line-height: 1.6rem;  
    /** 1.6rem = 16px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/** Daemon REPONSIVE  */
/**Reponsive  */


.grid_full-width
{
    width: 100%;
}
.grid__row
{
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
}
/* **test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/** Animation*/
/** Tu khi xuat hien se co opcacity bang 0 den bang 1 */
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/** Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    bottom: 0;
}
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    height: 414px;
    background-color: var(--white-color);
    margin: auto;
    z-index: 1;
    position: relative;
    border-radius: 5px;
}
/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.05);
}
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;

}
.header__cart-view-cart {
    background-color: #f05d41;
}
/* **Selction */
.select-input {
    min-width: 120px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}
.select-input:hover .select-input__list {
    display: block;
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding-left: 0;
    list-style: none;
    padding: 10px 16px;
    display: none;
    z-index: 1;
}
.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 5px 0;
}
.select-input__link:hover {
    color: var(--primary-color);
}
/* Pafnation */
.container-pagination {
    margin: 48px 0 32px;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item {
    margin: 0 8px;
}
.pagination-item__link {
    font-weight: 300;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width:40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: block;
}
.pagination-item--active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover {
    background-color: violet;
}
/* Pagination mobile */
.container-pagination-mobile {
    display: none;
    justify-content: center;
}
.pagination-item-mobile {
    border-radius: 5px;
    width: 70px;
    padding: 12px;
    margin: 8px;
    background-color: var(--primary-color);
}
.pagination-item-click {
    font-size: 1.5rem;
    width: 100%;
    display: inline-block;
    color: var(--white-color);
    text-align: center;
    text-decoration: none;
}